@page
@model IndexModel
@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witamy</h1>
    <p>Proszę kliknąć RpChemikalia w lewym górnym rogu w celu dostania się do aplikacji</p>
</div>
